/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
}

h4,
h5 {
  font-size: 2.8rem;
}
a {
  color: white;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

button:hover {
  background: #2d415a;
}

/* Nav Section With HERO */

.main-head {
  background-color: #131c27;
  color: white;
}

nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  align-items: center;
  justify-content: space-around;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;

  font-weight: 400;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(/images/landing-page.jpg);
  min-height: 90vh;
  background-repeat: none;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h3 {
  padding: 3rem;
}

/*Locations Section*/
#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/images/new-york-page.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  position: relative;
  overflow: hidden;
}

.locations-header {
  margin: auto;
  width: 90%;
}

.locations-header h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 1rem;
}

.locations-header h3 {
  padding: 4rem 0rem;
  background: linear-gradient(#131c27, #663b34);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
  animation: cloudAnimation 3s infinite alternate ease-in-out;
}

.moving-cloud-1 {
}

.moving-cloud-2 {
  top: 20%;
  z-index: -1;
  opacity: 0.5;
}

@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/* Benefits Section */

.benefits-header {
  background: #343c44;
  min-height: 30vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.benefits-header h3 {
  padding: 1rem;
}

.card {
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  min-height: 30vh;
  align-items: center;
  flex-wrap: wrap;
}

.cards img {
  max-width: 15%;
  margin: 2rem;
}

.card-icon {
  background: #2d415a;
  width: 100%;
}

.card h4,
.card p {
  padding: 1rem;
}

/*Media Queries*/
@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 2rem;
  }
  .cloud {
    height: 40rem;
    pointer-events: none;
  }
  .moving-cloud-1 {
    z-index: -1;
  }
  .moving-cloud-2 {
    z-index: -2;
  }
  .locations-header h3 {
    background: #131c27;
    opacity: 0.8;
    -webkit-text-fill-color: white;
    padding-left: 2rem;
  }
}
